/* General container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General box styling */
.box {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

/* Specific box colors, transformations, and text scaling */
.box1 {
    background-color: #4CAF50; /* Green */
    flex-basis: 10%;
    height: 50px;
    font-size: 0.8em;
    transform: translateX(40%);
    z-index: 1;
}

.box2 {
    background-color: #2196F3; /* Blue */
    flex-basis: 15%;
    height: 70px;
    font-size: 1.8em;
    transform: translateX(20%);
    z-index: 2;
}

.box3 {
    background-color: #3E4E5B; /* Dark blue */
    flex-basis: 30%;
    height: 100px;
    font-size: 3em;
    z-index: 3;
}

.box4 {
    background-color: #9C27B0; /* Purple */
    flex-basis: 15%;
    height: 70px;
    font-size: 1.8em;
    transform: translateX(-20%);
    z-index: 2;
}

.box5 {
    background-color: #FF5722; /* Orange */
    flex-basis: 10%;
    height: 50px;
    font-size: 0.8em;
    transform: translateX(-40%);
    z-index: 1;
}
